@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Witamy wśród żywych!</h1>
    <p>Jeżeli widzisz tą stronę, to oznacza, że nie korzystasz z przeglądarki: IE, Edge, Edge Chromium. Dobry wybór XD</p>
</div>
